$height: 80px;
$width: 80px;
$inner_height: 70px;
$inner_width: 70px;

$color-primary: #D1512D;
$color-secondary: #F5E8E4;

body {
    background-color: $color-secondary;
}

#loading {
    width: $width;
    height: $height;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner-circle {
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    margin-left: calc(-#{$inner_width} / 2);
    margin-top: calc(-#{$inner_height} / 2);
    width: $inner_width;
    height: $inner_height;
    background-color: $color-secondary;
}
.hold {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, $width, $height, calc(#{$width} / 2));
    border-radius: 100%;
    background-color: $color-secondary;
}
.fill,
.dot span {
    background-color: $color-primary;
}
.fill {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, calc(#{$width} / 2), $height, 0px);
}
.left .fill {
    z-index: 1;
    animation: left 1s ease-in both;
}
@keyframes left {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
}
  
.right {
    z-index: 3;
    transform: rotate(180deg);
}
.right .fill {
    z-index: 3;
    animation: right 0.5s linear both;
    animation-delay: 1s;
}
@keyframes right {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
}

.fade-in-image { 
    animation: fade-in 2s forwards;
    animation-delay: 2s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $width;
    height: $height;
    opacity: 0;
}
  