body {
    background-color: #d3d3d3;
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes circle-loading {
    to {
        transform: rotateZ(360deg);
    }
}

.circle-spinner span {
    display: block;
    width: 70px;
    height: 70px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: teal;
    animation: circle-loading 1200ms ease infinite;
}