@use "../../colors";

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
}

.slider::before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 26px;
    width: 26px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;

    // moon icon
    &:nth-child(2) {
        transform: translateY(-100px);
    }
}

input:checked + .slider {
    background-color: colors.$color-primary;
}

.icon {
    margin: 5px;
    height: auto;
    width: 1.4rem;
    transition: all 0.1s linear;
}

input:checked + .slider:before {
    transform: translateX(26px);
}