@use "../../colors";


h1 {
    font-size: 3rem;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 900px;

    & > p {
        margin: 2rem 0 2.6rem;
        color: colors.$color-light;
    }

    & > h2 {
        color: colors.$color-primary;
        margin-bottom: 1rem;
    }

    & h1:nth-of-type(2) {
        color: colors.$color-secondary;
    }
}

.hover-underline-animation {
    position: relative;
    color: colors.$color-primary;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 1px;
    left: 0;
    background-color: colors.$color-primary;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cv-button {
    
}

/* ============= Media Queries (Medium Devices) ============= */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* ============= Media Queries (Small Devices) ============= */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
}